<!DOCTYPE html>
<html>
<head>
  <title>Forum Posts</title>
  <link rel="stylesheet" type="text/css" href="question-page.component.scss">
</head>
<body>
<button class="buttonProfile" a routerLink="/askQ">Ask question</button>
<input type="text" class="searchBar" placeholder="Search..." (keypress)="handleKeyPress($event)">
<div class="post" routerLink="/answers" *ngFor="let question of questions">
  <a [routerLink]="['/question', question.id]">{{ question.title }}</a>
  <p>{{ question.text }}</p>
  <div class="metadata">
    <span>Posted by {{ question.author }}</span>
    <span>on {{ question.date }}</span>
    <span>in {{ question.tag }}</span>
  </div>
  <div class="image">
    <img src="{{ question.image }}" alt="{{ question.title }}">
  </div>
  <button class="updateButton" [routerLink]="['/updateQ', question.id]" *ngIf="shouldShowUpdateButton(question.author)">Update</button>
</div>
</body>
</html>
