<div class="main-container">
  <app-header [title]="'___Stack Overflow___'"></app-header>
  <div class="main-body">
    <div class="nav">
      <button class="buttonProfile" (click)="logout()">Log Out</button>
      <button class="buttonProfile" routerLink="/signup">Sign up</button>
      <button class="buttonProfile" routerLink="/profile">View Profile</button>
      <button class="buttonProfile" (click)="onClick()">View Questions</button>
      <button class="buttonProfile" (click)="onClick1()" >View Users</button>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
