.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question, .answer {
  margin-bottom: 40px;
}

.question h2 {
  margin-bottom: 10px;
}

.question p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

.answer p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.answer p:last-child {
  margin-top: 10px;
}
.answer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  margin-right: 10px;
}

.text {
  flex-grow: 1;
}
.buttonProfile{
  background-color: white;
  border: 2px solid black;
  color: green;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
}

.like-dislike {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.like-dislike button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: #666;
  font-size: 1rem;
  cursor: pointer;
}

.like-dislike button:hover {
  color: #000;
}

.like-dislike button:focus {
  outline: none;
}

.like-dislike button:active {
  transform: translateY(1px);
}

.like-dislike button.active {
  color: #f00;
}
.updateButton{
  background-color: white;
  border: 2px solid black;
  color: green;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
}

