<div style="display:flex; flex-direction:column; margin: 2rem">
{{title}}

<input type="text" pInputText style="margin: 2rem 2rem 1rem 2rem" [placeholder]="user.firstname"/>


  <input type="text" pInputText style="margin: 1rem 2rem" [placeholder]="user.lastName"/>

  <input type="password" pInputText style="margin: 1rem 2rem" [placeholder]="user.password"/>

  <input type="text" pInputText style="margin: 1rem 2rem" [placeholder]="user.email"/>

  <input type="text" pInputText style="margin: 1rem 2rem" [placeholder]="user.phoneNr"/>

  <input type="text" pInputText style="margin: 1rem 2rem" [placeholder]="user.profilePicture"/>

  <button class = "button button1" style="margin: 1rem 2rem">Insert User</button>
</div>
