<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="home-page.component.css">
</head>
<body>
<div class="login-box">
  <h2>Login Here</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>Username</p>
    <input type="text" formControlName="username" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" formControlName="password" placeholder="Enter Password">
    <button type="submit">Login</button>
  </form>
</div>

</body>
</html>
