<div class="main-container">
  <app-header [title]="'___Stack Overflow___'">
  </app-header>
  <div class="main-body">
    <div class="nav">
<!--      this it the navigation, where buttons for navigating can be added-->
      <button class="buttonProfile" a routerLink="">Home</button>
      <button class="buttonProfile" a routerLink="/signup">Sign up</button>
      <button class="buttonProfile" a routerLink="/profile">View Profile</button>
      <button class="buttonProfile" a routerLink="/questions">View Questions</button>

    </div>
    <div class="content">
<!--      Usage of the same component can be seen here-->
<!--      <app-user></app-user>-->
<!--      <app-user [title]="'Update user'" [user]="user"></app-user>-->

    <router-outlet></router-outlet>

    </div>
  </div>
</div>
